### A CONFIGURER ###

# Ports
CORA_PORT_PROD=""
CORA_PORT_DEV=""

# Quelques informations sur l'utilisateur

# OBLIGATOIRE: ID du magasin (prendre l'ID dans le fichier ./constante/list-shop.json)
CORA_idShop=""

 #OBLIGATOIRE: Votre identifiant Cora
CORA_login=""

#OBLIGATOIRE: Votre mot de passe
CORA_mdp=""

#OBLIGATOIRE: Votre liste de course que nous utiliserons comme BDD (Nom de la liste sauvegardée sur le site de CoraDrive)
CORA_nameOfListUseForBDD=""

#FACULTATIF:Le mot de passe permettant de chiffrer votre mdp et login.
CORA_SecretPass=""

#FACULTATIF:Le mot de passe permettant de verifier l'intégrité de vos requêtes
CORA_Checksum=""

### NE PAS TOUCHER ###
CORA_token=""
